<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Calculadora de Temperatura</title>
  </head>
  <body>
    <h1>Calculadora de Temperatura</h1>
    <form th:action="@{/calculate}" method="post">
      <div class="left">
        <div class="temperatura">
          <h3>temperatura:</h3>
          <input type="number" step="0.01" name="temperature" required />
        </div>
        <div class="divimagem">
          <img
            class="imagem"
            src="https://greenpng.com/wp-content/uploads/2022/10/Desenho-de-um-termometro-1-1024x123.png"
            alt=""
            srcset=""
          />
        </div>
      </div>
      <div class="operacao">
        <div class="de">
          <label for="from">De:</label>
          <select name="from" id="from" required>
            <option value="celsius">Celsius</option>
            <option value="kelvin">Kelvin</option>
            <option value="fahrenheit">Fahrenheit</option>
          </select>
        </div>
        <div class="para">
          <label for="to">Para:</label>
          <select name="to" id="to" required>
            <option value="celsius">Celsius</option>
            <option value="kelvin">Kelvin</option>
            <option value="fahrenheit">Fahrenheit</option>
          </select>
        </div>
        <button type="submit">Converter</button>
      </div>
    </form>
    <div class="resultado" th:if="${result != null}">
      <h2>
        Resultado: <span th:text="${result}"></span
        ><span th:text="${UM}"></span>
      </h2>
    </div>
  </body>
</html>
